input {
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid black;
}

a {
    color: yellow;
    font-size: 25px;
    background-color: red;
    padding: 20px;
    width: 200px;
    text-decoration: none;
}

a:hover {
    color: blue;
}

textarea {
    resize: horizontal;
}