body {
    background-image: url(file:///home/tarik/%D0%9F%D1%80%D0%B5%D1%83%D0%B7%D0%B8%D0%BC%D0%B0%D1%9A%D0%B0/slike/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-image: url(slike/background.jpg);
}

.content {
    background-color: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: calibri;
}

p {
    font-size: 25px;
    color: black;
}