body {
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#main_div {
    background-color: lightblue;
    margin-right: 450px;
    margin-left: 300px;
    border: 2px solid black;
}

.footerimg {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
}

.logoimg2 {
    float: left;
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Trebuchet MS';
}

h2 {
    font-family: Georgia;
}

h3 {
    font-family: Georgia;
}

h4 {
    font-family: 'Trebuchet MS';
}

p {
    margin-bottom: 18px;
    text-align: justify;
}

a {
    text-decoration: none;
    font: bold;
}

a:hover {
    text-decoration: underline;
}

#naslovi {
    border: 1px solid black;
    width: 747px;
    height: 311px;
    background-image: url("image.jpg");
}

#Nov_Ispit {
    width: 749px;
    background-color: lightblue;
    text-align: center;
    border: 1px solid black
}

#Raspored_ispita {
    text-align: center;
}

#form {}

#naziv {
    margin-bottom: 10px;
    margin-left: 40%;
    margin-right: 40%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
}

#datum {
    margin-bottom: 10px;
    margin-left: 40%;
    margin-right: 40%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
}

#vreme {
    margin-bottom: 10px;
    margin-left: 40%;
    margin-right: 40%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
}

#Button {
    margin-bottom: 10px;
    margin-left: 50%;
}

#buttono {
    background-color: lightgreen;
    color: white;
}

#main_navlist {
    background-color: black;
    border: 1px solid black;
    width: 747px;
}

#top_navlist {
    background-color: gray;
    text-align: right;
    border: 1px solid black;
    max-width: 747px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#top_navlist_2 {
    background-color: black;
    text-align: right;
    border: 1px solid black;
    width: 747px;
    height: 40px;
}

#bottom_navlist {
    background-color: black;
    text-align: right;
    border: 1px solid black;
    width: 747px;
    height: 20px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    border: 1px solid black;
    width: 749px;
}

#childf1 {
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px dotted black
}

#childf2 {
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    border: 3px dotted black
}

#childf3 {
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    border: 3px dotted black
}

#childf4 {
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    border: 3px dotted black
}