    body {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(slike/background.jpg);
        background-repeat: no-repeat;
    }
    
    .parent {
        border: 5px;
        border-style: hidden solid hidden solid;
        width: 1000px;
        height: 100vh;
        background-color: rgba(116, 189, 238, 0.37);
    }
    
    .crni {
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .sivi {
        background-color: rgba(138, 138, 138, 0.774);
        width: 100%;
        height: 50px;
        text-align: right;
        color: white;
    }
    
    .prijava {
        font-family: monospace;
        color: white;
        width: 100%;
        text-align: right;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .moji-ispiti {
        width: 100%;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: -60px;
        font-family: arial;
        font-size: 15px;
    }
    
    .lisica {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 8px;
    }
    
    .neki-tekst {
        text-align: center;
        font-size: 20px;
        font-family: arial;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        margin-top: 20px;
    }
    
    .form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .naziv {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .datum {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #datum {
        width: 200px;
    }
    
    .vreme {
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .usmeno {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    
    #usmeno {
        width: 100;
        display: flex;
        justify-content: space-between;
    }
    
    .profesor {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #profesor {
        width: 200px;
        height: 25px;
    }
    
    .dugme {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-success {
        color: #fff;
        background-color: #198754;
        border-color: #198754;
    }
    
    .dno {
        width: 100%;
        height: 100px;
        background-color: rgba(63, 55, 55, 0.212);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .dno div {
        border: 2px dotted black;
        display: flex;
        justify-content: center;
        width: 20%;
        height: 80%;
    }
    
    .dno img {
        width: 100px;
    }