    body {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(slike/background.jpg);
        background-repeat: no-repeat;
    }
    
    .parent {
        border: 5px;
        border-style: hidden solid hidden solid;
        width: 1000px;
        height: 100vh;
        background-color: rgba(116, 189, 238, 0.37);
    }
    
    .crni{
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .sivi {
        background-color: rgba(138, 138, 138, 0.774);
        width: 100%;
        height: 50px;
    }
    .prijava{
        font-family: monospace;
        color: white;
        width: 1000px;
        text-align: right;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }