table {
    width: 400px;
    border: 1px solid red;
    /*
    border-spacing: 40px; razmak izmedju granica
    */
}

th,
caption {
    text-align: left;
}


/* Ako maknemo table i dodamo padding napravice se razmak teksta unutar svake celije */

table,
th,
td {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
    /*
    border-collapse: collapse; macinje dve linije na granicama i ostavlja samo jednu

    */
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #ddd;
}