h1 {
    color: red;
    font-size: 60px;
    background-color: blanchedalmond;
    font-family: monospace;
    text-align: center;
    border: 2px solid black
}

#Veliki {
    font-size: 25px;
    background-color: blueviolet;
    border: 2px solid black;
    margin: 5px;
}

#razdvajanje {
    color: aqua;
}

body {
    background-color: powderblue
}

#w3 p {
    color: blueviolet;
    font-family: monospace;
}

#boja {
    color: blue;
}

#boja2 {
    color: red;
}

#big {
    font-size: 50px;
    border: 2px solid red;
    padding: 30px;
}

pre {
    font-family: monospace;
}

.pik p {
    color: rgba(250, 162, 0, 0.589);
    font-family: monospace;
    font-size: 20px;
}