* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    background: color #111029;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    padding: 30px;
}

.box {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding: 30px;
    text-align: center;
    margin-right: 20px;
}

.default-cursor {
    background-color: rgb(0, 30, 255);
}

.image-cursor {
    background-color: rgb(235, 251, 0);
    cursor: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/6D5A/production/_119449972_10.jpg), auto;
}

.emoji-cursor {
    background-color: rgb(217, 0, 255);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

.help-cursor {
    background-color: rgb(72, 255, 0);
    cursor: help;
}

.crosshair-cursor {
    background-color: rgb(255, 0, 0);
    cursor: crosshair;
}